@use "variable" as vars;
@use "buttons" as btns;

body {
    font-size: vars.$base-font-size;
    font-family: vars.$font-family;
}

h1 {
    color: vars.$primary-color;
}

.btn {
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
}

.btn-primary {
    color: white;
    background-color: btns.$bg-primary-color;
}

.btn-success {
    color: white;
    background-color: btns.$bg-success-color;
}

.btn-failure {
    color: white;
    background-color: btns.$bg-failure-color;
}

//Nested Rules

nav {
    background-color: #222;
    padding: 10px;

    a {
        text-decoration: none;
        display: inline-block;
        padding: 5px 10px;
        color: #fff;
    }
}

p {
    line-height: 30px;
    text-indent: 30px;
    font-size: vars.$font-size-sm;
    a {
        text-decoration: none;
        color: tomato;
    }
}